/*body{
  background-image: url("/img/pattern.svg");
}*/
.brand-logo{
  transition: text-shadow 0.30s;
}

.brand-logo:hover{
    /* glow effect on hover */
    text-shadow: -1px 1px 20px #ffc, 1px -1px 20px #fff;

    -webkit-transition: text-shadow 250ms linear 0s;
    -moz-transition: text-shadow 250ms linear 0s;
    -o-transition: text-shadow 250ms linear 0s;
    transition: text-shadow 250ms linear 0s;
}

.room-item{
  width: 80%;
}

@media (min-width: 768px)  {
  .room-item{
    width: 50%;
  }
}

.topright {
    position: absolute;
    top: 5px;
    right: 5px;
}

.bottomright {
    position: absolute;
    bottom: 5px;
    right: 5px;
}


.delete{
  -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;

  cursor: pointer;
}

/*  TODO: */
/*textarea:focus {
  border-bottom: 1px solid orange;
  -webkit-box-shadow: 0 1px 0 0 orange;
  -moz-box-shadow: 0 1px 0 0 orange;
  box-shadow: 0 1px 0 0 orange;
}*/



#tools{
  color: white;
  text-align: left;
  padding: 20px;
  width: 200px;
  position: absolute;
  height: calc(100% - 64px);
  top:64px;
  bottom:0;
  background-color: #777;
  float: left;
}

#tools > h4 {
  margin-top: 0;
  font-size: 22px;
}

#palette{
    width: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    cursor: pointer;
    margin-bottom: 20px;

}

.p-color{
  width: 25px;
  height: 25px;
}

.black {background-color:rgb(0, 0, 0);}
.dark-gray {background-color:rgb(87, 87, 87);}
.red {background-color:rgb(173, 35, 35);}
.blue {background-color:rgb(42, 75, 215);}
.green {background-color:rgb(29, 105, 20);}
.brown {background-color:rgb(129, 74, 25);}
.purple {background-color:rgb(129, 38, 192);}
.light-gray {background-color:rgb(160, 160, 160);}
.light-green {background-color:rgb(129, 197, 122);}
.light-blue {background-color:rgb(157, 175, 255);}
.cyan {background-color:rgb(41, 208, 208);}
.orange {background-color:rgb(255, 146, 51);}
.yellow {background-color:rgb(255, 238, 51);}
.tan {background-color:rgb(233, 222, 187);}
.pink {background-color:rgb(255, 100, 255);}
.pink-shock {background-color: rgb(255, 30, 200);}
.white {background-color:rgb(255, 255, 255);}
.green-alive {background-color:rgb(50, 200, 80);}

#canvas{
  position: absolute;
  top: 64px;
  bottom:0;
  left: 200px;
  /* TODO: make fullscreen*/
  height: calc(100% - 64px);
  width: calc(100% - 200px);

  background-color: #fff;
  /*border-style: solid;
  border-width: 2px;
  border-color: #666;*/
}

#rgbPicker{
  height: 100px;
}

#rgbPickerForm{
  width: 40%;
  float: left;
}
#rgbPickerButton{
  margin-top: 25px;
  float: right;
}

#buttons button{
  margin:10px;
}

#buttons a{
  margin:10px;
}

#buttonDivider{
  margin: 0;
  padding: 0;
  width: 200px;
  position: relative;
  left:-20px;
}



.no-padding{
  padding: 0;
}

.no-margin{
  margin: 0;
}


/*Gallery Screen*/
#galleryContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* or space-around */
  padding: 20px;
}



#galleryContainer figure {
  margin: 0;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  text-decoration: none;
  color: black;
}


@media screen and (min-width: 50em) {
  #galleryContainer figure {
    width: calc(25% - 6px);
  }
}


#galleryContainer figcaption {
  margin-top: 10px;
}

#galleryContainer img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
}



#userList{

}


.user-item {
  height: 140px;
    /*margin: 10px;*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: #eee;
}

#userList img{
    margin: 10px;
    height: 120px;
    float: left;
}

.userContent {
  margin-left: 160px;
}

#loginContainer{
  background-color: #fff;

  margin-top: 100px;

  border-style: solid;
  border-width: 1px;
  border-color: #eee;
}

#loginContainer form{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#loginContainer button{
  margin-right: 10px;
}
